{% extends 'layout.njk' %}

{% block head %}
<title>{{course.title}} | Rocketseat</title>
{% endblock %}

{% block content %}
<section class="course">
    <div id="title">
        <h1>{{course.title}}</h1>
    </div>
    <div class="card" id="{{course.id}}">
        <div class="card_course">
            <iframe src="http://rocketseat.com/{{course.id}}" frameborder="0"></iframe>
        </div>
        <div class="card_content">
            <h1>{{course.title}}</h1>
        </div>
        <div class="info_card">
            <p>{{course.modules}}</p>
            <p class="price">{{course.price}}</p>
        </div>
    </div>
</section>
{% endblock %}